cotedivoire_cop30.tif
crop_predictionsCrossValidated8.csv 
crop_predictionsCrossValidated10.csv
crop_predictionsCrossValidated11.csv
crop_predictionsCrossValidated12.csv
crop_predictionsCrossValidated13.csv
crop_predictionsCrossValidated20.csv
crop_predictionsCrossValidated21.csv
crop_predictionsCrossValidated92.csv
crop_predictionsRasterio3.csv
FULL_TEST.csv
FULL_TRAIN.csv
Raster_Test.csv
Rasterio_Train.csv
TestDatataset.csv 
train_shapefile.zip 
TrainDataset.csv
test_shapefile.zip 
cotedivore/
catboost_info/
Cote_Tiff/
test/
test_filled/
test_shapefile/
TestDataS2SR/
train/
train_filled/
train_shapefile/
TrainDataS2SR/
